<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <style>
    body{
        background-color:skyblue;
        text-align:center;
    }
    header{
        width:100%;
        height: 12vh;
    }
    </style>
</head>
<header>
    <div >
        <nav style="text-align:center;">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <!--            <a href="/logout">Logout</a>-->
        </nav>
    </div>
</header>
<body>
<div>You have reached an error page!!!!</div>
</body>
</html>