<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    body{
        background-color:skyblue;
        text-align:center;
    }
    header{
        width:100%;
        height: 12vh;
    }
    #form{
    text-align:center;
    }
</style>
</head>

<header>
    <div >
        <nav style="text-align:center;">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            <!--            <a href="/logout">Logout</a>-->
        </nav>
    </div>
</header>
<body>
<br>
<br>

<div id="form">
<form action="perform_login" method='POST'>

    User:
    <input type='text' name='username' value=''>

    Password:
    <input type='password' name='password' />

    <input name="submit" type="submit" value="submit" />
</form>
</div>
</body>
</html>